.faq-container {
    width: 100%;
    margin: 50px auto;
}

.faq-title {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
}

.faq-accordion {
    overflow: hidden;
    width: 100%;
}

.faq-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.faq-item:last-child {
    border-bottom: none;
}

.faq-question { 
    width: 100%;
    padding: 15px 20px;
    border: none;
    text-align: left;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
    transition: background 0.3s;
    color: white;
}

.faq-icon {
    color: white;
}

.faq-answer {
    padding: 15px 20px;
    font-size: 0.95rem;
    color: #ccc;
    display: none;
}

.faq-question { 
    background: #008b8b;
}

.faq-question:hover {
    background: #005c5c;
}


.faq-answer {
    background: #007272;
    color: white;
}

.faq-item.open .faq-question { 
    font-weight: 500;
    background: #005c5c;
}

.faq-item.open {
    margin: 6px 0px;
}
