.navbar .nav-item.dropdown .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none; 
}
  
.navbar .nav-item.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
  }
  
  .nav-item.dropdown .dropdown-toggle::after {
    transition: transform 0.3s ease;
  }
  
  .nav-item.dropdown:hover .dropdown-toggle::after {
    transform: rotate(180deg);
  }